@model KorisniciDodajViewModel
@{
    ViewData["Title"] = "Dodaj";
}
<section id="main-content">
    <section class="wrapper">

        <section class="panel">
            <div class="panel-heading">
                <h2>Novi korisnik</h2>
            </div>
            <div class="panel-body">
                <form asp-action="Dodaj" method="post">

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div asp-validation-summary="All" class="alert alert-danger"></div>
                    }

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Ime">Ime:</label>
                                <input asp-for="Osoba.Ime" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Prezime">Prezime:</label>
                                <input asp-for="Osoba.Prezime" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.DatumRodjenja">Datum rodjenja:</label>
                                <input asp-for="Osoba.DatumRodjenja" class="form-control" />
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="DrzavaID">Drzava:</label>
                                <select asp-for="DrzavaID" asp-items="Model.Drzave" class="form-control" onchange="FillRegionsByCountryId()"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="RegijaID">Regija:</label>
                                <select asp-for="RegijaID" asp-items="Model.Regije" class="form-control" onchange="FillCitiesByRegionId()"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.GradID">Grad:</label>
                                <select asp-for="Osoba.GradID" asp-items="Model.Gradovi" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Korisnik.KorisnickoIme">Korisnicko ime:</label>
                                <input asp-for="Korisnik.KorisnickoIme" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Osoba.Email">Email:</label>
                                <input asp-for="Osoba.Email" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="TipKorisnika">Uloga:</label>
                                <select asp-for="TipKorisnika" class="form-control" asp-items="Model.Uloge"></select>
                            </div>
                        </div>
                    </div>

                    <hr />

                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Dodaj</button>
                                <a asp-action="Index" class="btn btn-default">Odustani</a>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </section>

    </section>
</section>
<script>
    $(function () {
        $("#Osoba_DatumRodjenja").val("");     
        OcistiListe();
    });

    function FillRegionsByCountryId() {
        if ($("#DrzavaID").prop("selectedIndex") == 0) {
            $("#RegijaID").html("");
            $("#RegijaID").append("<option value=\"\">Odaberite regiju</option>");

            $("#Osoba_GradID").html("");
            $("#Osoba_GradID").append("<option value=\"\">Odaberite grad</option>");
        }
        else {
            var countryId = $("#DrzavaID").val();

            $.ajax({
                url: "@Url.Action("GetRegijeByDrzavaId", "Regije")",
                type: "GET",
                dataType: "JSON",
                data: { drzavaId: countryId },
                success: function (data) {
                    $("#RegijaID").html("");

                    $.each(data, function (i, country) {
                        $("#RegijaID").append($("<option></option>").val(country.value).html(country.text));
                    });
                }
            });

        }
    };

    function FillCitiesByRegionId() {
        if ($("#RegijaID").prop("selectedIndex") == 0) {
            $("#Osoba_GradID").html("");
            $("#Osoba_GradID").append("<option value=\"\">Odaberite grad</option>");
        }
        else {
            var regijaId = $("#RegijaID").val();

            $.ajax({
                url: "@Url.Action("GetGradoviByRegijaId", "Gradovi")",
                type: "GET",
                dataType: "JSON",
                data: { regijaId: regijaId },
                success: function (data) {
                    $("#Osoba_GradID").html("");
                    $.each(data, function (i, regija) {
                        $("#Osoba_GradID").append($("<option></option>").val(regija.value).html(regija.text));
                    });
                }
            });
        }
    }

    function OcistiListe() {
        $("#RegijaID").html("");
        $("#RegijaID").append("<option value=\"\">Odaberite regiju</option>");

        $("#Osoba_GradID").html("");
        $("#Osoba_GradID").append("<option value=\"\">Odaberite grad</option>");
    }
</script>

