
@{
    ViewData["Title"] = "Index";
}
<section id="main-content">
    <section class="wrapper">
        <section class="panel">
            <header class="panel-heading">
                <h2>Izdata uvjerenja</h2>

            </header>

            <div class="panel-body">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/ClanUprave/Uvjerenja/Dodaj"><i class="fa fa-plus"></i> Dodaj</a>
                </div>

            </div>
        </section>
    </section>
</section>