@model Drzava


<form id="forma">
    <input asp-for="DrzavaID" hidden />
    <div class="form-group">
        <label>Naziv:</label>
        <input asp-for="Naziv" class="form-control" />
    </div>

    <div class="form-group">
        <label>Oznaka:</label>
        <input asp-for="Oznaka" class="form-control" />
    </div>

</form>

<button type="button" class="btn btn-primary btnSubmit">Sačuvaj</button>

<script>
    $(".btnSubmit").click(function () {

    });
</script>